<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

    <test name="Create Booking" preserve-order="true">
        <classes>
            <class name="api.test.AuthTest"/>
            <class name="api.test.CreateBookingTests"/>
            <class name="api.test.GetBookingTests"/>
            <class name="api.test.UpdateBookingPartially"/>
            <class name="api.test.UpdateBookingTests"/>
            <class name="api.test.DeleteBookingTests"/>
        </classes>

    </test>
</suite>
